
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/GioHang_LayoutPage.cshtml";
}
<body style="text-align:center">

<h2>Shopping_Success</h2>
    <h3>bạn đã đặt hàng thành công! hàng sẽ sớm được giao</h3>
    <a class="btn btn-success" href="@Url.Action("Index","TrangChu")"> về trang chủ </a>
</body>